body,
li,
p,
ul {
    margin: 0;
    padding: 0
}

.container__header,
.container__header-content-item,
.container__header-content-item div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

::-webkit-scrollbar {
    width: 0
}

li,
ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #000
}

.header__top {
    margin-top: 50px
}

.header__top p {
    text-align: center;
    font-size: 30px;
    font-weight: 700
}

.header__top h1 {
    font-size: 40px;
    font-weight: 700
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.container__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: scroll
}

.container__header-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px
}

.container__header-content-item {
    max-width: 400px;
    width: 100%;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.container__header-content-item div {
    height: 350px;
    overflow-x: scroll;
    background: rgba(51, 51, 51, .613);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    justify-content: space-between
}

.item-btn {
    border: none;
    outline: 0;
    background: rgba(185, 34, 34, .653);
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 10px;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s
}

.item-btn:hover {
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95)
}

.btn-link {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase
}

.footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.footer ul li,
.footer ul p {
    color: #000;
    text-align: justify;
    margin: 5px 0;
    font-size: 20px;
    font-weight: 700
}

.content-title,
.content-txt {
    font-size: 25px;
    text-align: center;
    margin: 10px 0;
    font-weight: 700
}

.content-li {
    font-size: 20px;
    margin: 5px 0
}

.preloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 9999 !important;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
}
.loader{
    width: 150px;
    height: 150px;
    border: 6px dotted rgba(255, 255, 255, 0.267);
    border-radius: 50%;
    border-top-color: orange;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999 !important;
    animation: 800ms spin infinite linear; 
}
.preloader-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    object-fit: contain;
}
.done{
    opacity: 0;
    visibility: hidden;
}
@keyframes spin {
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}